@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-barlow-condensed: 'Barlow Condensed', sans-serif;
    --font-jetbrains-mono: 'JetBrains Mono', monospace;
    --font-inter: 'Inter', sans-serif;
    --color-primary: rgb(14, 165, 233);
    --color-gray-smooth: rgb(128, 153, 176);
    --color-border: #0ea5e91f;
}
