/* ⚠️ Supported Browsers */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-section-smooth-dark);
}
/* Chromium or Safari */
::-webkit-scrollbar {
    width: .6rem;
}
::-webkit-scrollbar-track {
    background: var(--color-section-smooth-dark);
}
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb, var(--color-primary) 80%, white);
}